- content_for :body do
  = tinymce

= form_for [:lecturer, @research_service_activity_log], html: { class: 'well' } do |f|
  %fieldset
    %p
      = hidden_field_tag :research_service_activity_id, @research_service_activity.id
    %p
      = f.label :note
      = f.text_area :note, class: 'tinymce', rows: 8
    - status_id = @research_service_activity.status_id
    %p
      = f.label :status_id
      %label.radio
        = f.radio_button :status_id, status_id + 1
        = ResearchServiceActivity::STATUS_TYPES[status_id + 1]
    %p
      = f.submit 'Simpan', class: 'btn btn-primary'
      = link_to lecturer_research_service_activity_path( @research_service_activity ), class: 'btn' do
        %i.icon-folder-close
        Kembali

= render '/lecturer/research_service_activities/research_service_activity'
